<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.mybatis.generator.eclipse.launching.LaunchConfigurationType">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/demo-3"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="demo-3"/>
<stringAttribute key="org.mybatis.generator.eclipse.ui.CONFIG_TAB.FILE_NAME" value="${workspace_loc:/demo-3/src/main/resources/mybatisGenerator/generatorConfig-administrators_user.xml}"/>
</launchConfiguration>
