<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/public.css">
    <link rel="stylesheet" href="./css/e-commerce_register.css">
    <script src="./js/jquery-3.4.1.min.js"></script>
</head>

<body>
    <div class="headder-top">
        <div class="width1200 headder-top-content">
            <div>欢迎来到信达！ 请<a href="./re?page=e-commerce_login.html" class="font-aqua">登录</a> <a href="./re?page=e-commerce_register.html" class="font-aqua">快速注册 </a>
            </div>
        </div>
    </div>
    <ul class="content width1200">
        <ul class="xinda-logo">
            <li>
                <img src="./images/logo-blue.png" alt="">
            </li>
            <li>
                欢迎注册
            </li>
        </ul>
        <h2 class="title">信达客户端</h2>
        <ul class="main">
            <ul class="input">
            	<li>
                    <input class="buyuser_name" type="text" placeholder="请输入姓名">
                </li>
                <li>
                    <input class="buyuser_ph" type="text" placeholder="请输入手机号">
                </li>
                <li>
                    <input type="text" name="imgcode" class="input-code" placeholder="请输入验证码">
                </li>
                <li>
                	<img  class="code" src="./images/code.png" />
                </li>
                <li>
                    <select name="pro" id="aaa" class="province">
                        <option value="">省</option>
                    </select>
                    <select name="" id="bbb" class="city">
                        <option value="">市</option>
                    </select>
                    <select name="" id="ccc">
                        <option value="">区</option>
                    </select>
                </li>
                <li>
                    <input class="buyuser_pw" type="password" placeholder="请设置密码">
                </li>
                <li>
                    <p class="login-btn font-aqua nowregister">立即注册</p>
                </li>
            </ul>
            <ul class="register">
                <li>已有账号？</li>
                <li class="login-btn font-aqua"><a href="./re?page=e-commerce_login.html">立即登录</a></li>
                <li>
                    <img src="./images/login-man.png" alt="">
                </li>
            </ul>
        </ul>
    </ul>
            <script src="./js/e-commerce_register.js"></script>
</body>

</html>