<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/public.css">
    <link rel="stylesheet" href="./css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/e-commerce_product.css">

    <script src="./js/jquery-3.4.1.min.js"></script>
</head>

<body>
    <div class="headder-top">
        <div class="width1200 headder-top-content">
            <div><span>{用户名}</span>欢迎来到信达！<a href="re?page=e-commerce_login.html"><span class="user-quit">[退出]</span></div>
            <ul>
                <li><a href="re?page=e-commerce_shoping-car.html"><i class="fa fa-shopping-cart fa-lg"></i>
                        购物车<span>1</span>件</a></li>
                <li> <a href="re?page=e-commerce_order.html">
                        <i class="fa fa-file-text-o fa-lg"></i> 我的订单
                    </a></li>
                <li>服务商入口</li>
            </ul>
        </div>
    </div>
    <div class="logo-search width1200">
        <img class="logo" src="./images/logo-blue.png" />
        <ul class="search">
            <li>
                <span class="search-product font-aqua">产品</span>丨
                <span class="search-service">服务商</span>
            </li>
            <li>
                <input placeholder="搜索您需要的服务或服务商" type="text"><span class="search-btn"><i
                        class="fa fa-search fa-2x"></i></span>
            </li>
            <li>
                热门服务：<span>社保开户</span> <span>公司注册</span>
            </li>
        </ul>
        <img class="tel" src="./images/xinda-tel.png" alt="">
    </div>
    <ul class="banner width1200">
        <li><a href="re?page=e-commerce_product.html" class="border-b">全部产品</a></li>
        <li><a href="#">财税服务</a></li>
        <li><a href="#">公司工商</a></li>
        <li><a href="#">人事外包</a></li>
        <li><a href="#">加盟我们</a></li>
        <li><a href="#">店铺</a></li>
    </ul>
    <div class="line-aqua"></div>
    <div class="content width1200">
        <ul class="content-nav">
            <li class="nav-active">综合排序</li>
            <li>价格 <i class="fa fa-arrows-v fa-lg"></i></li>
        </ul>
        <ul class="content-title">
            <li>商品</li>
            <li>价格</li>
        </ul>
        <hr color="#ededed" size="1">
        
    </div>
    <script src="./js/e-commerce_product.js"></script>
</body>

</html>