<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/public.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/service_store.css">
    <link rel="stylesheet" href="./css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/element-ui_2.12.0.css">
    <script src="./js/jquery-3.4.1.min.js"></script>
    <script>
	function defaultImg(img) {
		img.src = "/images/default_user.png";
	}
	</script>
</head>

<body>
    <div class="header">
        <div class="logo_info">
            <img src="./images/logo.png" alt="logo">
            <span class="platform_name">信达</span>
        </div>
        <ul class="user_info">
            <li><a href="re?page=operator_product"><i class="fa fa-cog fa-fw"></i>服务管理</a></li>
            <li><i class="fa fa-cube fa-fw"></i>业务管理</li>
            <li>
                <img src="./images/default_user.png">
                <span class="username">用户名字</span>
                <i class="fa fa-chevron-down fa-fw user-arrow-down"></i>
                <ul class="dropdown">
                    <li>更改信息</li>
                    <li><a href="re?page=operator_login">退出登录</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="main">
        <ul class="main-nav">
			<li><a href="/re?page=operator_orderform"> <i
					class="fa fa-shopping-cart fa-fw"></i>
					<p>订单</p>
			</a></li>
			<li><a href="/re?page=operator_user"> <i
					class="fa fa-user fa-fw"></i>
					<p>用户</p>
			</a></li>
			<li><a href="/re?page=operator_facilitator"> <i
					class="fa fa-tasks fa-fw"></i>
					<p>服务商</p>
			</a></li>
			<li><a href="/re?page=operator_expenses"> <i
					class="fa fa-cny fa-fw"></i>
					<p>费用中心</p>
			</a></li>
			<li><a href="/re?page=operator_recommend"> <i
					class="fa fa-star fa-fw"></i>
					<p>优质推荐</p>
			</a></li>
			<li><a href="#"> <i class="fa fa-bar-chart-o fa-fw"></i>
					<p>统计分析</p>
			</a></li>
			<li><a href="re?page=operator_store"> <i class="fa fa-user fa-fw"></i>
					<p>修改头像</p>
			</a></li>
		</ul>
		<div class="main-details">
            <ul class="main-tab">
                <li class="border-red order1">必填文件</li>
            </ul>
            <ul class="store-info">
                <li>
                	<form action="/saveUserImg" method="post" enctype ="multipart/form-data">
   	 				<label for="file" class="btn btn-primary" style="float: left;height: 30px;width: 180px;margin-right: 20px">
   	 		 		 <img src="/headImg?id=0001" onerror="defaultImg(this)" class="imagesy"/></label>
    					<input  id="file" name="file" type="file" style="float: left;display:none"/>
    					<input  name="id" type="hidden" value="0001"/><br />
   						 <li><input  class="btn btn-primary" type="submit" value="提交" style="float: left"></li>
					</form>
                </li>
            </ul>
        </div>
    </div>
    <script src="./js/operator_store.js"></script>
</body>

</html>