<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/public.css">
    <link rel="stylesheet" href="./css/e-commerce_register.css">
    <script src="./js/jquery-3.4.1.min.js"></script>
</head>

<body>
    <div class="headder-top">
        <div class="width1200 headder-top-content">
            <div>欢迎来到信达！ 请<a href="re?page=e-commerce_login" class="font-aqua">登录</a> <a href="re?page=e-commerce_register" class="font-aqua">快速注册 </a>
            </div>
        </div>
    </div>
    <ul class="content width1200">
        <ul class="xinda-logo">
            <li>
                <img src="./images/logo-blue.png" alt="">
            </li>
            <li>
                找回密码
            </li>
        </ul>
        <h2 class="title">信达管理员端</h2>
        <ul class="main">
            <ul class="input">
                <li>
                    <input type="text" class="phone" placeholder="请输入手机号">
                </li>
                <li>
                    <input type="text" class="code" placeholder="请输入验证码"><img  class="codeimg" src="" />
                   
                </li>
                <li>
                    <input type="text" class="password" placeholder="请输入新密码">
                </li>
                <li>
                    <input type="text" class="password1" placeholder="请确认新密码">
                </li>
                <li>
                    <p class="login-btn font-aqua">确认修改</p>
                </li>
            </ul>
            <ul class="register">
                <li>想起来密码了？</li>
                <li class="font-aqua"><a class=" font-aqua" href="re?page=operator_login">返回登录>></a></li>
                <li>
                    <img src="./images/login-man.png" alt="">
                </li>
            </ul>
        </ul>
    </ul>
            <script src="./js/operator_findpassword.js"></script>
</body>

</html>