<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/public.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/operator_orderform.css">
    <link rel="stylesheet" href="./css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/element-ui_2.12.0.css">

    <script src="./js/jquery-3.4.1.min.js"></script>
</head>

<body>
    <div class="header">
        <div class="logo_info">
            <img src="./images/logo.png" alt="logo">
            <span class="platform_name">信达</span>
        </div>
        <ul class="user_info">
            <li><a href="re?page=operator_product"><i class="fa fa-cog fa-fw"></i>服务管理</a></li>
            <li><i class="fa fa-cube fa-fw"></i>业务管理</li>
            <li>
                <img src="./images/default_user.png">
                <span>用户名字</span>
                <i class="fa fa-chevron-down fa-fw user-arrow-down"></i>
                <ul class="dropdown">
                    <li>更改信息</li>
                    <li>退出登录</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="main">
        <ul class="main-nav">
            <li class="bg-red">
                <a href="re?page=operator_orderform">
                    <i class="fa fa-shopping-cart fa-fw"></i>
                    <p>订单</p>
                </a>
            </li>
            <li>
                <a href="re?page=operator_user">
                    <i class="fa fa-user fa-fw"></i>
                    <p>用户</p>
                </a>
            </li>
            <li>
                <a href="re?page=operator_facilitator">
                    <i class="fa fa-tasks fa-fw"></i>
                    <p>服务商</p>
                </a>
            </li>
            <li>
                <a href="re?page=operator_expenses">
                    <i class="fa fa-cny fa-fw"></i>
                    <p>费用中心</p>
                </a>
            </li>
            <li>
                <a href="re?page=operator_recommend">
                    <i class="fa fa-star fa-fw"></i>
                    <p>优质推荐</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-bar-chart-o fa-fw"></i>
                    <p>统计分析</p>
                </a>
            </li>
        </ul>
        <div class="main-details">
            <div class="main-top">
                <ul>
                    <li>
                        <i class="fa fa-home fa-fw"></i>
                    </li>
                    <li>订单</li>
                    <li>/</li>
                    <li>业务订单</li>
                </ul>
            </div>
            <ul class="main-tab">
                <li class="border-red business-order">业务订单</li>
                <li class="service-order">服务订单</li>
            </ul>
            <div class="main-content">
                <div class="search">
                    <select>
                        <option value="1">全部</option>
                        <option value="2">选择服务类型1</option>
                        <option value="3">选择服务类型2</option>
                        <option value="4">选择服务类型3</option>
                    </select>
                    <input placeholder="业务订单号"  class="ordernum"/><button><i class="fa fa-search fa-fw"></i></button>
                </div>
            </div>
            <table border="0" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th>业务订单号</th>
                        <th>客户</th>
                        <th>订单内容</th>
                        <th>订单金额</th>
                        <th>创建时间</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
            <div class="main-sercive">服务订单...</div>
        </div>
    </div>
    <script src="./js/operator_orderform.js"></script>
</body>

</html>