<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/public.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/service_product.css">
    <link rel="stylesheet" href="./css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/element-ui_2.12.0.css">

    <script src="./js/jquery-3.4.1.min.js"></script>
</head>

<body>
    <div class="header">
        <div class="logo_info">
            <img src="./images/logo.png" alt="logo">
            <span class="platform_name">信达</span>
        </div>
        <ul class="user_info">
            <li><a href="service_product.html"><i class="fa fa-cog fa-fw"></i>服务管理</a></li>
            <li><i class="fa fa-shopping-cart fa-fw"></i>新订单(0)</li>
            <li><i class="fa fa-bell-o fa-fw"></i>通知(0)</li>
            <li>
                <img src="./images/default_user.png">
                <span>用户名字</span>
                <i class="fa fa-chevron-down fa-fw user-arrow-down"></i>
                <ul class="dropdown">
                    <li>更改信息</li>
                    <li>退出登录</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="main">
        <ul class="main-nav">
            <li>
                <a href="#">
                    <i class="fa fa-home fa-fw"></i>
                    <p>主页</p>
                </a>
            </li>
            <li>
                <a href="service_orderform.html">
                    <i class="fa fa-shopping-cart fa-fw"></i>
                    <p>订单</p>
                </a>
            </li>
            <li>
                <a href="service_expenses.html">
                    <i class="fa fa-cny fa-fw"></i>
                    <p>费用</p>
                </a>
            </li>
            <li>
                <a href="service_store.html">
                    <i class="fa fa-institution fa-fw"></i>
                    <p>店铺</p>
                </a>
            </li>
            <li>
                <a href="service_setting.html">
                    <i class="fa fa-cog fa-fw"></i>
                    <p>设置</p>
                </a>
            </li>
        </ul>
        <div class="main-details">
            <div class="main-top">
                <ul>
                    <li>
                        <i class="fa fa-home fa-fw"></i>
                    </li>
                    <li>服务管理</li>
                </ul>
            </div>
            <ul class="main-tab">
                <li class="border-red business-order">产品列表</li>
            </ul>
            <div class="main-content">
                <div class="search">
                    <input placeholder="服务名称" /><button><i class="fa fa-search fa-fw"></i></button>
                </div>
                <div class="product-action">
                    <span class="add-product-action"><i class="fa fa-plus fa-fw"></i>添加服务产品</span>
                </div>
            </div>
            <table border="0" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th>服务名称</th>
                        <th>服务内容</th>
                        <th>价格</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>电视剧作品登记</td>
                        <td>电视剧作品登记</td>
                        <td>¥1000.00元</td>
                        <td><span class="down-line-mark down-line-mark-orange">下线</span></td>
                        <td>
                            <span class="handle-btn"><i class="fa fa-edit fa-fw"></i>编辑</span>
                            <span class="handle-btn"><i class="fa fa-close fa-fw"></i>删除</span>
                            <span class="handle-btn"><i class="fa fa-arrow-up fa-fw"></i>上线</span>
                        </td>
                    </tr>
                    <tr>
                        <td>电视剧作品登记</td>
                        <td>电视剧作品登记</td>
                        <td>¥1000.00元</td>
                        <td><span class="up-line-mark up-line-mark-red">在线</span></td>
                        <td><span class="handle-btn"><i class="fa fa-arrow-down fa-fw"></i>下线</span></td>
                    </tr>
                    <tr>
                        <td>电视剧作品登记</td>
                        <td>电视剧作品登记</td>
                        <td>¥10000.00元</td>
                        <td><span class="up-line-mark up-line-mark-red">在线</span></td>
                        <td><span class="handle-btn"><i class="fa fa-arrow-down fa-fw"></i>上线</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="masking">
        <div class="scroller">
            <h3>添加服务产品</h3>
            <ul>
                <li>
                    <span>图片简介</span>
                    <button>选择图片</button>
                </li>
                <li>
                    <span>服务名称</span>
                    <input placeholder="请输入服务名称" />
                </li>
                <li>
                    <span class="ver-top">服务说明</span>
                    <textarea name="" id="" cols="45" rows="7"></textarea>
                </li>
                <li>
                    <span>服务价格</span>
                    <input type="number" placeholder="请输入服务价格">
                </li>
            </ul>
            <button class="save">提交</button>
            <button class="cancel">取消</button>
        </div>
    </div>
    <script src="./js/service_product.js"></script>
</body>

</html>