.font-aqua {
    color: #4eb5ba;
}

.border-b {
    border-bottom: 3px solid #4eb5ba;
}

.user-action .bg-gray {
    background-color: #e9e9e9;
}

.headder-top {
    line-height: 30px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #dedede;
    font-size: 12px;
    color: #666666;
}

.headder-top-content {
    display: flex;
    justify-content: space-between;
}

.headder-top-content ul {
    display: flex;
}

.headder-top-content li {
    margin: 0 8px;
    cursor: pointer;
}

.headder-top-content li a {
    color: #666;
}

.logo-search {
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.logo-search .logo {
    width: 139px;
    height: 63px;
    margin: 18px 0 0 6px;
}

.search {
    font-size: 12px;
    margin-top: 15px;
}

.search li {
    margin: 3px 0;
}

.search li:nth-child(1) {
    color: #666;
}

.search li:nth-child(1) span {
    cursor: pointer;
}

.search li:nth-child(2) input {
    width: 480px;
    height: 36px;
    border: 2px solid #4eb5ba;
}

.search li:nth-child(2) span {
    width: 100px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border: 2px solid #4eb5ba;
    background-color: #4eb5ba;
    vertical-align: bottom;
}

.search li:nth-child(3) {
    color: #d1d3d9;
}

.search li:nth-child(3) span {
    cursor: pointer;
}

.logo-search .tel {
    width: 170px;
    height: 35px;
    margin: 31px 67px 0 0;
}

.search-btn {
    color: #fff;
}

.banner {
    display: flex;
    justify-content: space-between;

}

.banner li {
    order: 1;
}

.banner li a {
    width: 200px;
    line-height: 40px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    color: #000;
}

.line-aqua {
    border-bottom: 1px solid #4eb5ba;
}

.content {
    display: flex;
    justify-content: space-between;
}

.content-left {
    width: 240px;
    height: 352px;
    border: 1px solid #e9e9e9;
}

.userinfo {
    width: 240px;
    height: 142px;
    background-color: #e9e9e9;
    text-align: center;
    margin-bottom: 10px;
}

.userinfo img {
    margin: 8px 0;
}

.userinfo p {
    font-size: 18px;
}

.user-action a {
    line-height: 50px;
    display: block;
    padding-left: 40px;
    background-color: #f7f7f7;
    cursor: pointer;
    color: #666666;
}

.content-right {
    width: 930px;
}

.product_num {
    margin: 15px 0 10px 0;
}

.order-search li {
    margin-top: 20px;
    color: #333333;
    font-size: 14px;
}

.order-search li:first-child input {
    height: 25px;
}

.order-search li:first-child span:last-child {
    width: 64px;
    line-height: 25px;
    display: inline-block;
    text-align: center;
    color: #4eb5ba;
    border: 1px solid #4eb5ba;
    border-radius: 3px;
    vertical-align: top;
}

.order-search li:last-child input {
    width: 125px;
    height: 25px;
}

.order-title {
    display: flex;
    justify-content: space-between;
    height: 32px;
    background-color: #f7f7f7;
    border-top: 2px solid #dddddd;
    margin-top: 25px;
}

.order-title li {
    width: 120px;
    font-size: 14px;
    color: #666;
}

.order-title li:first-child {
    width: 480px;
}

.orders {
    border: 1px solid #cccccc;
    margin-top: 15px;
}

.order-num {
    line-height: 32px;
    background-color: #f7f7f7;
    font-size: 12px;
    padding-left: 30px;
    color: #666666;
    border-bottom: 1px solid #cccccc;
}

.order-details {
    display: flex;
}

.order-details>li {
    width: 96px;
    line-height: 68px;
    font-size: 14px;
    text-align: center;
    border-right: 1px solid #cccccc;
}

.order-details>li:last-child {
    width: 135px;
    border-right: none;
}

.order-details>li:nth-child(1) {
    width: 600px;
    height: 68px;
    display: flex;
    line-height: 18px;
    text-align: left;
}

.order-details>li:nth-child(1) p {
    line-height: 68px;
}

.order-details>li:nth-child(1) p:nth-child(3) {
    margin-right: 60px;
}

.order-details>li:nth-child(1) img {
    width: 50px;
    height: 50px;
    margin: 9px 0 0 38px;
}

.order-details>li:nth-child(1) ul {
    width: 300px;
    font-size: 14px;
    margin: 13px 0 0 15px;
}

.order-details>li:nth-child(4) p {
    width: 50px;
    line-height: 20px;
    border: 1px solid #4eb5ba;
    border-radius: 3px;
    margin: 15px 0 0 40px;
    cursor: pointer;
}
.order-details>li:nth-child(4) span{
    color: #77b6ff;
    line-height: 20px;
    cursor: pointer;
    margin-top: 20px;
    display: inherit;
}