.border-red {
    color: #ed145b;
    border-bottom: 2px solid #ed145b;
}

.main-tab {
    height: 34px;
    margin: 30px 0 0 30px;
    border-bottom: 2px solid #ecedf0;
}

.main-tab li {
    width: 84px;
    line-height: 34px;
    text-align: center;
    float: left;
    font-size: 14px;
    cursor: pointer;
}
.store-info{
    margin: 20px 0 0 30px;
}
.store-info li{
    margin: 6px 0;
}
.store-info span{
    font-size: 12px;
    width: 70px;
    display: inline-block;
    vertical-align: top;
    color: #898989;
}
.store-info i{
    font-size: 12px;
}
.store-info textarea{
    width:540px;
    height: 70px;
}
.store-info button{
    width:55px;
    height: 22px;
}
.imagesy {
	width: 150px;
    height: 150px;
    border-radius: 50%;
}